* {
    font-family: 'Roboto', sans-serif
}

header {
    position: relative;
    height: 50px
}

.label {
    position: relative;
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    z-index: 2
}

.label_white {
    background-color: #fff;
    color: #000
}

.title {
    position: relative;
    margin-bottom: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    z-index: 2
}

.title_white {
    color: #fff
}

.subtitle {
    position: relative;
    margin-top: 19px;
    color: #222222;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    z-index: 2
}

.subtitle_white {
    color: #fff
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #212121;
    z-index: 5
}

.hamburger {
    display: none
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none
}

.menu_link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    transition: color .2s
}

.menu_link:hover {
    color: #1eacc7
}

.menu_link:active {
    color: #ff5656
}

.menu_item {
    border-right: 2px dotted black;
    padding-right: 40px
}

.menu_item:last-child {
    border-right: none
}

.subheader {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, 0.6)
}

.subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px
}

.subheader_official {
    margin-top: 6px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400
}

.subheader_call {
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    margin-top: 19px;
    text-align: right
}

.subheader_phone {
    position: relative;
    display: block;
    margin-top: 8px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    line-height: 12px;
    text-decoration: none;
    transition: all .2s linear
}

.subheader_phone:before {
    position: absolute;
    margin: 20px 0 0 20px;
    width: 0%;
    content: '';
    display: block;
    height: 2px;
    background-color: #1eacc7;
    transition: all .2s linear
}

.subheader_phone:hover {
    color: #1eacc7
}

.subheader_phone:hover:before {
    position: absolute;
    margin: 20px 0 0 40px;
    width: 80%;
    content: '';
    display: block;
    height: 2px;
    background-color: #1eacc7
}

.subheader_phone:active {
    color: #ff5656
}

.subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-color: #1eacc7;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    transition: background-color .2s linear
}

.subheader_btn:hover {
    background-color: #ff5656;
    background-image: none
}

.promo {
    min-height: 800px;
    background: url("../img/promo.png") center center/cover no-repeat;
    padding-top: 150px;
    padding-bottom: 135px
}

.promo_header {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0px;
    line-height: 60px;
    margin: 0;
    text-align: center
}

.promo_subheader {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
    text-align: center
}

.promo_descr {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 23px
}

.promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-color: #1eacc7;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    transition: background-color .2s linear
}

.promo_btn:hover {
    background-color: #ff5656;
    background-image: none
}

.reasons {
    padding: 71px 0 65px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px
}

.reasons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px
}

.reasons_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%
}

.reasons_descr {
    width: 343px
}

.reasons_subtitle {
    line-height: 21px;
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400
}

.reasons_text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px
}

.mobile {
    min-height: 864px;
    padding: 48px 0 79px 0;
    background: url("../img/mobile_bg.png") center center/cover no-repeat
}

.mobile .row {
    margin-top: 32px
}

.mobile_item {
    position: relative;
    width: 320px;
    height: 280px;
    margin: 0 auto;
    margin-bottom: 19px;
    padding-top: 92px
}

.mobile_item_1 {
    background: url("../img/mobile/mobile1.png") center center/cover no-repeat
}

.mobile_item_2 {
    background: url("../img/mobile/mobile2.png") center center/cover no-repeat
}

.mobile_item_3 {
    background: url("../img/mobile/mobile3.png") center center/cover no-repeat
}

.mobile_item_4 {
    background: url("../img/mobile/mobile4.png") center center/cover no-repeat
}

.mobile_item_5 {
    background: url("../img/mobile/mobile5.png") center center/cover no-repeat
}

.mobile_item_6 {
    background: url("../img/mobile/mobile6.png") center center/cover no-repeat
}

.mobile_subtitle {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    text-transform: uppercase;
    text-align: center
}

.mobile_plus {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 26px;
    height: 26px;
    background-color: #000000;
    margin: 0 auto;
    border-radius: 100%;
    cursor: pointer
}

.mobile_plus::before {
    content: '';
    display: block;
    width: 14px;
    height: 2px;
    background-color: #1eacc7;
    transition: 0.3s all
}

.mobile_plus::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    height: 14px;
    width: 2px;
    background-color: #1eacc7;
    transition: 0.3s all
}

.mobile_plus:hover::before,
.mobile_plus:hover::after {
    background-color: #ff5656
}

.choice {
    position: relative;
    min-height: 900px;
    padding: 56px 0 138px;
    background: url("../img/mobile_bg.png") center center/cover no-repeat;
    z-index: 2
}

.choice_img {
    position: relative;
    display: block;
    margin: 56px auto;
    z-index: 2
}

.choice_descr {
    font-size: 17px;
    line-height: 24px;
    font-weight: 300;
    color: #222222;
    text-align: center
}

.choice .black {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 499px;
    width: 100%;
    background-color: #070716;
    z-index: 1
}

.require {
    padding: 68px 0 84px 0
}

.require_block {
    margin-top: 33px
}

.require_block_nbm {
    margin-bottom: 0px
}

.require_title {
    font-size: 22px;
    font-weight: 400;
    color: #1eacc7
}

.require_list {
    list-style-type: none;
    padding-left: 50px;
    margin-top: 22px
}

.require_list li {
    position: relative;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 10px
}

.require_list li:before {
    content: '';
    display: block;
    position: absolute;
    left: -32px;
    top: 3px;
    width: 21px;
    height: 20px;
    background: url(../icons/accepticon_blue.png) center center/cover no-repeat
}

.require_descr {
    font-size: 17px;
    font-weight: 300;
    color: #1eacc7
}

.require .warning .require_title {
    color: #ff5656
}

.require .warning .require_list li::before {
    background: url(../icons/accepticon_orange.png) center center/cover no-repeat
}

.world {
    position: relative;
    min-height: 717px;
    padding: 49px 0;
    background: url(../img/map.png) center center/cover no-repeat
}

.world_link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 49px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    transition: color .2s linear
}

.world_link:hover {
    color: #1eacc7
}

footer {
    padding: 14px 23px 39px 23px
}

.footer_divider {
    width: 299px;
    height: 4px;
    background-color: #1fbad6;
    margin: 0 auto
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 32px
}

.footer_wrapper>div {
    width: 33%
}

.footer_social {
    width: 160px;
    display: flex;
    justify-content: space-between
}

.footer_item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    width: 32px;
    height: 32px;
    background-color: #070716;
    border-radius: 100%;
    text-decoration: none
}

.footer_item i {
    color: #fff;
    transition: color .2s
}

.footer_item i:hover {
    color: #ff5656
}

.footer_links {
    width: 390px;
    margin: 0 auto
}

.footer_main {
    display: flex;
    justify-content: space-between;
    padding: 0 10px
}

.footer_main a {
    color: #070716;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .2s linear
}

.footer_main a:hover {
    color: #1eacc7
}

.footer_sub {
    display: flex;
    justify-content: space-between;
    margin-top: 10px
}

.footer_sub a {
    color: #999999;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .2s linear
}

.footer_sub a:hover {
    color: #ff5656
}

.footer_lang {
    display: block;
    margin: 0 auto;
    color: #1fbad6;
    font-size: 11px;
    font-weight: 400;
    margin-top: 19px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none
}

.footer_mobile {
    display: flex;
    justify-content: flex-end
}

.footer_img {
    display: block;
    text-decoration: none
}

.footer_img img {
    width: 60px
}

.xs-visible {
    display: none
}

@media (max-width: 1200px) {
    .menu_link {
        font-size: 12px
    }

    .menu_item {
        padding-right: 20px
    }

    .promo_header {
        font-size: 50px
    }

    .reasons_descr {
        width: 300px
    }

    .reasons_block {
        align-items: flex-start
    }

    .mobile_item {
        width: 300px
    }

    .choice_img {
        width: 600px
    }
}

@media (max-width: 991px) {
    .menu_link {
        font-size: 10px
    }

    .menu_item {
        padding-right: 10px
    }

    .subheader_logo img {
        width: 100%
    }

    .subheader_official {
        font-size: 12px
    }

    .subheader_phone {
        font-size: 20px
    }

    .subheader_btn {
        margin-top: 21px;
        width: 100%;
        height: 40px
    }

    .promo_header {
        font-size: 40px
    }

    .promo_subheader {
        font-size: 30px
    }

    .reasons_block {
        flex-direction: column;
        align-items: center
    }

    .reasons_round {
        margin-right: 0
    }

    .reasons_subtitle {
        margin-top: 10px;
        text-align: center
    }

    .reasons_text {
        line-height: 19px;
        margin-top: 10px;
        text-align: center
    }

    .title {
        font-size: 36px
    }

    .mobile_item {
        height: 230px;
        width: 230px
    }

    .mobile_subtitle {
        font-size: 17px;
        line-height: 24px
    }

    .footer_wrapper {
        flex-direction: column;
        align-items: center
    }

    .footer_wrapper>div {
        width: 400px
    }

    .footer_links {
        margin-top: 20px
    }

    .footer_mobile {
        justify-content: center
    }

    .footer_social {
        margin: 20px auto
    }
}

@media (max-width: 767px) {
    .menu {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        background: rgba(0, 0, 0, 0.8);
        transition: all .2s
    }

    .menu_active {
        left: 0
    }

    .menu_link {
        font-size: 22px;
        text-align: center
    }

    .menu_item {
        margin-top: 20px;
        padding: 0;
        border: none
    }

    .choice_img {
        width: 450px
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 6;
        width: 20px;
        height: 12px
    }

    .hamburger span {
        margin-top: 3px;
        display: block;
        height: 2px;
        width: 100%;
        background-color: #fff;
        transition: all .2s
    }

    .hamburger_active span {
        margin-top: -2px
    }

    .hamburger_active span:nth-child(1) {
        transform: translateY(10px) rotate(-45deg)
    }

    .hamburger_active span:nth-child(2) {
        display: none
    }

    .hamburger_active span:nth-child(3) {
        transform: translateY(10px) rotate(45deg)
    }

    .xs-hidden {
        display: none
    }

    .xs-visible {
        display: block
    }

    .subheader_phone {
        margin-top: 10px;
        display: block;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase
    }

    .subheader_btn {
        display: block;
        width: 200px;
        height: 40px;
        margin: 0 auto;
        margin-top: 10px
    }
}

@media (max-width: 575px) {
    .menu_item {
        width: 100%;
        text-align: center
    }

    .menu_link {
        display: block;
        font-size: 20px
    }

    .label {
        width: 112px;
        height: 24px
    }

    .title {
        margin-top: 15px;
        font-size: 16px
    }

    .subtitle {
        margin-top: 0
    }

    .subheader {
        height: 60px
    }

    .subheader_official {
        display: none
    }

    .subheader_logo {
        margin-top: 20px
    }

    .subheader_phone {
        margin-top: 8px;
        display: block;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase
    }

    .subheader_phone:before {
        display: none
    }

    .subheader_btn {
        display: block;
        width: 116px;
        height: 28px;
        font-size: 10px;
        margin: 0 auto;
        margin-top: 5px
    }

    .promo {
        min-height: 500px
    }

    .promo_header {
        line-height: 1.2;
        font-size: 30px
    }

    .promo_subheader {
        font-size: 20px;
        line-height: 1.2
    }

    .promo_descr {
        display: none
    }

    .promo_btn {
        width: 216px;
        margin-top: 69px
    }

    .reasons {
        padding: 0
    }

    .mobile {
        min-height: 1884px
    }

    .mobile_item {
        width: 290px;
        height: 254px
    }

    .choice {
        min-height: 390px
    }

    .choice .title {
        display: none
    }

    .choice .subtitle {
        display: none
    }

    .choice img {
        margin: 35px auto;
        width: 300px
    }

    .choice_descr {
        position: absolute;
        display: block;
        color: #fff;
        z-index: 2
    }

    .world {
        min-height: 360px
    }

    .world .title {
        margin-top: 0
    }

    .world .subtitle {
        margin-top: 0
    }

    .world_link {
        display: block;
        width: 200px;
        color: #1eacc7
    }

    .footer_wrapper {
        padding-top: 0
    }

    .footer_wrapper>div {
        width: 100%;
        margin-bottom: 10px
    }

    .footer_wrapper>div:nth-child(1) {
        order: 2
    }

    .footer_wrapper>div:nth-child(2) {
        order: 1
    }

    .footer_wrapper>div:nth-child(3) {
        order: 3
    }

    .footer_divider {
        width: 253px
    }

    .footer_links {
        width: 290px;
        display: flex;
        flex-direction: column
    }

    .footer_main {
        padding: 0
    }

    .footer_main a {
        font-size: 14px
    }

    .footer_sub {
        justify-content: center;
        flex-wrap: wrap
    }

    .footer_sub a {
        margin: 0 7px
    }
}